.table{
    padding: 20px 40px;
    height: 100%;
}

.table__inner{
    background: white;
    min-height: calc(100vh - 83px);
    border-radius: 6px;
    padding: 10px;
    border: 2px solid #f3ecec;
    background: linear-gradient(90deg, white 20px, transparent 1%) center, linear-gradient(white 20px, transparent 1%) center, #e1e1e1;
    background-size: 22px 22px;
    background-size: 22px 22px;
}