.table{
    padding: 20px 40px;
    height: 100%;
}

.table__inner{
    background: white;
    min-height: calc(100vh - 83px);
    border-radius: 6px;
    padding: 10px;
    border: 2px solid #f3ecec;
}